# Environnement virtuel et caches
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/
.env

# Base de données (pour la garder hors du build)
db.sqlite3
db.sqlite3-journal
db.sqlite3-wal
db.sqlite3-shm

# Git : ne pas copier l'historique du repo dans l'image.
README.md
.git
.gitignore

# IDE / éditeurs : ne pas polluer l'image avec les configs de ton éditeur (ça ne sert à rien dans le conteneur).
.vscode/
.idea/
*.swp
*.swo
*~

# OS / macOS
.DS_Store
Thumbs.db

# Fichiers de config Docker / Dev (optionnel, mais pratique pour garder l'image propre)
docker-compose.yml
Dockerfile
Makefile